.brand-text{color:#fff;font-size:24px;font-weight:300;letter-spacing:1px;font-family:'Google Sans Flex',Arial,sans-serif}#main-app{opacity:0;display:none}.calendar-day.selected{background-color:#000;color:#fff;border-radius:.5rem}
