.calendar-day.disabled{color:#d1d5db;text-decoration:line-through;cursor:not-allowed}.custom-scrollbar::-webkit-scrollbar{width:6px}.custom-scrollbar::-webkit-scrollbar-thumb{background-color:#d1d5db;border-radius:3px}
